# Launch acpic to handle hardware volume buttons in awesomewm sessions
[Desktop Entry]
Name=acpic
Comment=acpid event handler
TryExec=acpic
Exec=run-until-xserver-dies acpic
Type=Application
OnlyShowIn=awesome;
