# Useful for vimmers, especially in conjunction with `caps:ctrl_modifier` XKB
# option. Requires https://github.com/alols/xcape
[Desktop Entry]
Name=Make capslock behave like escape if pressed and released alone
TryExec=xcape
Exec=xcape -e Caps_Lock=Escape
Type=Application
